@import "tailwindcss";

@theme {
  /* Colors */
  --color-green-10: #93c24b;
  --color-green-20: #44ad4b;
  --color-green-30: #1da95b;
  --color-green-40: #09843b;
  --color-green-50: #006840;

  --color-aqua-10: #0398a5;
  --color-aqua-20: #027a84;

  --color-blue-10: #d1ebf6;
  --color-blue-20: #b1d1ed;
  --color-blue-30: #548ac8;
  --color-blue-40: #0477bd;
  --color-blue-50: #034e96;

  /* Shadows */
  --shadow-card: 2px 4px 6px rgba(0, 0, 0, 0.25);
}

:root {
  /*Sizes*/
  --sidebar-w: 6rem;
  --header-h: 5rem;
  --body-pt: 5.5rem;
}

.button {
  @apply transition duration-200 ease-in-out hover:brightness-125 cursor-pointer active:scale-95 active:brightness-90 disabled:cursor-default disabled:brightness-75 disabled:scale-100;
}
